@font-face {
  font-family: Roboto-Regular;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("assets/fonts/Roboto-Bold.ttf");
}

i {
  font-family: Roboto-Bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.flex {
  display: flex;
}

.logotype_pic {
  width: 110px;
}

.close_nac_icon {
  width: 25px;
}

nav {
  width: 0;
  margin-left: -7px;
  margin-top: -7px;
}

.nav_column_open {
  width: 180px;
  height: 100vh;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  text-align: start;
}

.nav_column_closed {
  width: 50px;
  height: 100vh;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  text-align: center;
}

.nav_line {
  position: relative;
  height: 1px;
  background-color: lightgray;
}

.nav_logo {
  display: flex;
  justify-content: space-between;
}

.nav_icon {
  margin-top: 20px;
  margin-bottom: 20px;
}

.close_nav_icon {
  width: 20px;
  padding-right: 5px;
}